In [36]:
import pandas as pd 
import numpy as np

In [37]:
book = pd.read_csv("book.csv")
book

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [38]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\user\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (49.2.0.post20200714)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (0.16.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.0.5)
Requirement already satisfied: numpy>=1.16.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.18.5)
Requirement already satisfied: scipy>=1.2.1 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)

In [39]:
from mlxtend.frequent_patterns import apriori,association_rules

In [40]:
frequent_itemsets = apriori(book, min_support=0.02, max_len=3,use_colnames = False)
frequent_itemsets

     support    itemsets
0     0.4230         (0)
1     0.2475         (1)
2     0.4310         (2)
3     0.2820         (3)
4     0.2145         (4)
..       ...         ...
146   0.0360   (5, 6, 7)
147   0.0295   (9, 5, 6)
148   0.0300  (10, 5, 6)
149   0.0375   (9, 5, 7)
150   0.0240   (9, 6, 7)

[151 rows x 2 columns]

In [41]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of      support    itemsets
2      0.431         (2)
0      0.423         (0)
3      0.282         (3)
6      0.276         (6)
12     0.256      (0, 2)
..       ...         ...
98     0.020  (1, 2, 10)
141    0.020   (9, 4, 5)
142    0.020  (10, 4, 5)
47     0.020      (9, 4)
91     0.020   (0, 8, 7)

[151 rows x 2 columns]>

In [44]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
359,(9),"(5, 7)",0.0485,0.0565,0.0375,0.773196,13.684883,0.034760,4.159977
358,"(5, 7)",(9),0.0565,0.0485,0.0375,0.663717,13.684883,0.034760,2.829461
578,"(4, 7)",(8),0.0465,0.0370,0.0230,0.494624,13.368207,0.021279,1.905511
579,(8),"(4, 7)",0.0370,0.0465,0.0230,0.621622,13.368207,0.021279,2.519964
527,(9),"(3, 7)",0.0485,0.0585,0.0250,0.515464,8.811349,0.022163,1.943096
526,"(3, 7)",(9),0.0585,0.0485,0.0250,0.427350,8.811349,0.022163,1.661575
355,(7),"(9, 2)",0.1135,0.0410,0.0375,0.330396,8.058451,0.032847,1.432191
350,"(9, 2)",(7),0.0410,0.1135,0.0375,0.914634,8.058451,0.032847,10.384714
538,"(6, 7)",(9),0.0640,0.0485,0.0240,0.375000,7.731959,0.020896,1.522400
539,(9),"(6, 7)",0.0485,0.0640,0.0240,0.494845,7.731959,0.020896,1.852898

In [45]:
frequent_itemsets = apriori(book, min_support=0.05, max_len=4,use_colnames = False)
frequent_itemsets

    support      itemsets
0    0.4230           (0)
1    0.2475           (1)
2    0.4310           (2)
3    0.2820           (3)
4    0.2145           (4)
..      ...           ...
93   0.0595  (0, 3, 5, 6)
94   0.0525  (1, 2, 3, 5)
95   0.0600  (1, 2, 3, 6)
96   0.0560  (1, 2, 5, 6)
97   0.0650  (2, 3, 5, 6)

[98 rows x 2 columns]

In [46]:
frequent_itemsets.sort_values('support',ascending = True,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of     support      itemsets
81   0.0510  (0, 1, 3, 5)
83   0.0515  (0, 1, 4, 6)
94   0.0525  (1, 2, 3, 5)
92   0.0525  (0, 3, 4, 6)
91   0.0525  (0, 2, 6, 7)
..      ...           ...
10   0.2560        (0, 2)
6    0.2760           (6)
3    0.2820           (3)
0    0.4230           (0)
2    0.4310           (2)

[98 rows x 2 columns]>

In [47]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
178,"(1, 2)",(7),0.1620,0.1135,0.0590,0.364198,3.208789,0.040613,1.394301
183,(7),"(1, 2)",0.1135,0.1620,0.0590,0.519824,3.208789,0.040613,1.745193
63,"(2, 6)","(0, 7)",0.1925,0.0850,0.0525,0.272727,3.208556,0.036137,1.258125
62,"(0, 7)","(2, 6)",0.0850,0.1925,0.0525,0.617647,3.208556,0.036137,2.111923
60,"(0, 2)","(6, 7)",0.2560,0.0640,0.0525,0.205078,3.204346,0.036116,1.177474
65,"(6, 7)","(0, 2)",0.0640,0.2560,0.0525,0.820312,3.204346,0.036116,4.140522
69,(7),"(0, 2, 6)",0.1135,0.1495,0.0525,0.462555,3.094014,0.035532,1.582488
56,"(0, 2, 6)",(7),0.1495,0.1135,0.0525,0.351171,3.094014,0.035532,1.366307
85,"(3, 4)","(0, 1)",0.1055,0.1650,0.0530,0.502370,3.044665,0.035592,1.677952
80,"(0, 1)","(3, 4)",0.1650,0.1055,0.0530,0.321212,3.044665,0.035592,1.317790